﻿@{
    ViewBag.Title = "Calculator";
}

<form action="@Url.Action("add")" method="get">

    <fieldset>
        <legend>Addition</legend>

        <label>Number 1: <input type="text" name="number1" /></label>
        <strong>+</strong> 
        <label>Number 2: <input type="text" name="number2" /></label>
        <input type="submit" value="submit" />

    </fieldset>
</form>

<form action="@Url.Action("subtract")" method="get">

    <fieldset>
        <legend>Subtraction</legend>

        <label>Number 1: <input type="text" name="number1" /></label>
        <strong>-</strong> 
        <label>Number 2: <input type="text" name="number2" /></label>
        <input type="submit" value="submit" />

    </fieldset>
</form>

<form action="@Url.Action("multiply")" method="get">

    <fieldset>
        <legend>Multiplication</legend>

        <label>Number 1: <input type="text" name="number1" /></label>
        <strong>x</strong> 
        <label>Number 2: <input type="text" name="number2" /></label>
        <input type="submit" value="submit" />

    </fieldset>
</form>

<form action="@Url.Action("divide")" method="get">

    <fieldset>
        <legend>Division</legend>

        <label>Number 1: <input type="text" name="number1" /></label>
        <strong>/</strong> 
        <label>Number 2: <input type="text" name="number2" /></label>
        <input type="submit" value="submit" />

    </fieldset>
</form>